.loginl{
    width: 574px;
    height: 695px;
    padding: 17px 6.7px 0.4px 22px;
    background-color: #f2d2b6;
    margin: 142px 673px 0px 673px;
}
.loginLogo {
    width: 134px;
    height: 47px;
    font-family:Georgia;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    line-height: 2;
    margin: 0;
  
    text-decoration:none; 
    
  }
.logintext{
    width: 134px;
    height: 47px;
    font-family:Georgia;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    line-height: 2;
    margin-left: 3px;
    margin-right: 400px;
    text-decoration:none; 
}


.easyloginbutton{
    width: max-content;
    height: max-content;
    border: none;
    margin-left: 30px;
    background-color: #f2d2b6;
    cursor: pointer;
    
}
.easyloginbutton.bottom{
    margin-top: 15px;
}

.logintextbox{
    width: 480px;
    height: 67.5px;
    font-size: 20px;
    margin-left: 40px;
    border-radius: 5px;
}
.logintextbox.bottom{
    margin-top: 20px;
}
.findpass{
    width: 277.3px;
    height: 30.6px;
 
    margin-left: 305px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.loginbutton{
  width: 480px;
  height: 67.5px;
  margin: 4.4px 39.3px 13.5px 40px;
  padding: 20px 200px 18.5px 200    px;
  border-radius: 5px;
  background-color: #f28d77;
  font-size: 20px;
  cursor: pointer;
  
}

.loginbutton.register
{
    width: 490px;
}



