* {/*상단공백제거(화면전체) */
	margin: 0 ;
	padding: 0;
}
input:focus{
  outline: none;
}
hr {
  background-color: #f2ad94;
  height: 2px;
  margin-top: 30px;
}
a{
	text-decoration:none;
  color: black;
}



/* 헤더 레이어 */
.headerl {
    /* margin-left: 256px; */
    width: 100%;
    height: 60px;
  
    /* border: solid 2px #f2d2b6; */
    border-top:solid 2px #f2ad94;
    border-bottom:solid 2px #f2ad94;

  }
   
  
/* 네비게이션 바 */
.Naviation {
  float: left;
}
.Naviation.left{
 height: 60px;
 width: 50%;
 background-color: #f8f8f8;
}
.Naviation.right{
  height: 60px;
  width: 50%;
  background-color: #f8f8f8;
  text-align: right;
}
/* 로고 */
.Logo {

    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
    color: #f2ad94;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    line-height: 2.5;
    margin-left:1%;
    margin-right: 35%;
  }
.Logo:hover{
  color:#fd7070;
}
.neviusertext{
  margin-right: 15px;
  color: #000000;

}
.neviusertext.fake{
  color: #ffffff;

}

.Loginbutton{
    width: 80px;
    height:37.5px;
	font-size:18px;
	font-weight: bold;
  
	color:#000000;
  border-radius:1000px;
    border: solid 1px #ffffff;
    text-align: center;
    line-height: 3;
 
    margin-right: 20px;
 
  
}
.Loginbutton:hover{
  cursor: pointer;
	color:#f28d77;
  
}

   
  
/* 검색창 레이어 */
.searchl {
  width: 100%;
  height: max-content;
  padding: 20px 0;
  background-color: white;
  object-fit: contain;
  text-align: center;
}
.searchsl{
  width:max-content;
  height: max-content;
  display:inline-block;

  text-align: center;
  border: solid 3px #f2ad94 ;

  border-right: none;

}
/* 검색창 */
.search{
  border:none;
  width: 700px;
  height: 60px;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  font-size:20px;
  font-weight: bold;
  padding-left: 20px;
}
/* 검색 버튼 */
.searchbutton{

  border-right:solid 3px #f28d77;
 
  background: url( "image/sbutton.png" ) no-repeat; 

  cursor: pointer;
  padding: 19.2px 27px 19.2px 27px;
  background-color: #ffffff;

}

/* .searchbutton{
  background-image: 'public/image/sbutton.png';
  width: max-content;
  height: max-content;
  margin: 0px 0px 0px 0px;
  padding:50px 0 0 0;
	background:#ffffff;

  
} */




/* 메뉴레이어 */
.menul { 
    width: 100%;
    height: 62px;
    object-fit: contain;
    background-color:#f8f8f8;
    border-top: solid 2px #f2ad94 ;
    border-bottom: solid 2px #f2ad94 ;
    text-align: center;
  }
.menubuttonsl{
width: max-content;
height: 62px;
background-color:#f8f8f8;

display:inline-block;
}

/* 메뉴버튼 레이어 */
  button {
    margin:0;
    }
    .custom-btn {
      float: none;
      margin-right: 40px;
      border:0;
      outline: 0;
      width: 137px;
      height: 100%;
      color: #f2ad94;
      
      border-radius: 5px;
      font-family: 'Lato', sans-serif;
      font-size: 25px;
      background: transparent;
      cursor: pointer;
      position: relative;
      display: inline-block;
      text-align: center;
    }
    .btn-3 {
      background-color: #f8f8f8;
      width: 137px;
      height: 62px;
      line-height: 55px;
      padding: 0;
      border: none;
      
    }
    .btn-3.right {
      background-color: #f8f8f8;
      width: 137px;
      height: 62px;
      margin-right: 0;
      line-height: 55px;
      padding: 0;
      border: none;
      
    }
    .btn-3 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      
    }
    .btn-3:before,
    .btn-3:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background: #f2ad94;
      transition: all 0.8s ease;
      
    }
    .btn-3:before {
      height: 0%;
      width: 2%;
    }
    .btn-3:after {
      width: 0%;
      height: 2%;
    }
    .btn-3:hover{
      background: transparent;
      box-shadow: none;
      font-weight: bold;

     }
    .btn-3:hover:before {
      height: 100%;
    }
    .btn-3:hover:after {
      width: 100%;
    }
    .btn-3 span:hover{
       color: #fd7070;
    }
    .btn-3 span:before,
    .btn-3 span:after {
      position: absolute;
      content: "  ";
      left: 0;
      bottom: 0;
      background: #f2ad94;
      transition: all 0.8s ease;
  
    }
    .btn-3 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-3 span:after {
      width: 0%;
      height: 2px;
    }
    .btn-3 span:hover:before {
      height: 100%;
    }
    .btn-3 span:hover:after {
      width: 100%;
    }


.mainl{ /*메인프레임 레이어*/
  width: 100%;
  height: max-content;
  text-align: center;

}
.mainl.imagel {/*메인프레임 사진레이어*/
  display:inline-block;
  object-fit: contain;
  background-color: #ffffff;
  margin-top:20px;

}
/* 메인프레임 숫자출력 레이어 */
.mainl.figure{ 

  object-fit: contain;
  background-color: #ffffff;
  margin-top:20px;
  

}
.figuresmalll_secondline{
  width: 929.7px;
  height: 100px;
  background-color: white;
  display:inline-block;
  border:2px solid #f2ad94;
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
  cursor: pointer;

}
.figuresmalll_firstline{
  width: 178.4px;
  height: 100px;
  background-color: white;
  display:inline-block;
  border:2px solid #f2ad94;
  text-align: center;
  font-size: 1.5em;
  line-height: 4;
  cursor: pointer;
}
.figuresmalll:hover{
  background-color: #f8f8f8;
}
.mainl.annmainl{/*메인프레임 공고레이어*/
  background-color: white;
  margin-top:20px;

}
.annsmalll{
  width: max-content;
  height: max-content;
  background-color: white;
  display:inline-block;
}
.mainl.basicl{/*모든 기본레이어*/
  
  background-color: #ffffff;
  text-align:center; 
  padding-top: 30px;
}
.infosmalll{
  width: 930px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  display:inline-block;
}



.annl { /* 공고 출력 테이블 레이어 */
  
  width: 435px;
  height: 400px;
  object-fit: contain;
  background-color: #ffffff;
  border:2px solid #f2ad94;
  float: left;
}
.annl.left {
  margin-right:56px;
}
.annl:hover{
  background-color: #f8f8f8;

}

.annlbar {
  width: 435px;
  height:55px;
  object-fit: contain;
  background-color: #ffffff;
  border-left:2px solid #f2ad94;
  border-right:2px solid #f2ad94;
  border-top: 2px solid#f2ad94;
  float: left;
  cursor: pointer;

  
  
}

.annlbar.left {
  margin-right:56px;
}

.ann_plusbtn{  /*공고출력창 더보기 버튼*/
  line-height: 2.5;
  width: 50px;
  height: 30px;
  background-color: #f2d2b6;
  float:right;
  border-radius:100px;
  margin-top: 15px;
  margin-right: 2px;
  font-size: 12px;  
  text-align: center;
  /* line-height: 2.5; */
  border:0;
  outline: 0;
  cursor: pointer;
  border: solid 1px #ffffff;
}
.ann_plusbtn:hover{
	background:#f28d77;
  transition: all 1.0s ease;
  font-weight: bold;
}

.ann_title {/*공고출력창 제목*/
  width: 80px;
  height: 60px;
  font-family:Georgia;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
  line-height: 3;



}

/* 메인 공고출력 테이블 디자인 */
.mlist-table {
	margin-top: 5px;
}
.mlist-table thead th{

	border-bottom:2px solid #f2ad94;
	font-weight: bold;
	font-size: 17px;

}

.mlist-table tbody td{

	text-align:center;
	padding:10px 0;
  
	border-bottom:2px solid #f2ad94; height:20px;

	font-size: 14px ;
 
}

.maintablefont{
  font-size: 1.1em;
}
.maintablefont:hover{
  color: #fd7070;
}


/*공고출력 테이블 디자인*/

.list-table {
	margin-top: 50px;

}
.list-table thead th{
	height:40px;

	border-top:3px solid #f2ad94;
	border-bottom:3px solid #f2ad94;
	font-weight: bold;
	font-size: 17px;

}
.list-table tbody td{
	text-align:center;
	padding:10px 0;

	border-bottom:1px solid #f2ad94; height:20px;
	font-size: 14px ;
 
}

.mainsignuptext{
  height: max-content;
  width: max-content;
  font-size: 20px;
  text-align: left;
}


/* 텍스트 출력창(내용) */
.teaminfotextboxl{
  width: 930px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
 

}
.teaminfotextbox{
  width: max-content;
  height: max-content;
  text-align:left;
  font-family:dotum;
  font-size: 28px ;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  display: inline-block;
  white-space: pre-wrap;
}

/* 
기본제목디자인 */

.titletext{
  
  color: #000000;
  font-size: 35px;


  

}

.create_team_textbox{
  width:500px;
  height: 50px;
  font-size: 20px;
  margin-top: 15px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 5px #f2d2b6;
}
.create_team_textarea{
  width:500px;
  height: 50px;
  font-size: 20px;
  font-family:Georgia;
  margin-top: 15px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 5px #f2d2b6;

}
.create_team_textarea:hover{
  height: 300px;
  transition: all 1.5s ease;
 
}




.create_team_button{
  width:100px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #f2ad94;
  border :0;
  font-size: 18px;

}
.create_team_button:hover{
  background-color: #f28d77;

}
.create_team_select{
  width:510px;
  height: 58px;
  font-size: 20px;
  margin-top: 15px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 5px #f2d2b6;
}
/* 사이트 하단 화면  */
.bottoml{
  height: 150px;
  width: 100%;
  object-fit: contain;
  background-color: #f8f8f8;
  margin-top:20px;
  text-align: center;
  border-top: solid 2px #f2d2b6;
}

.bottomsmalll{
  width: max-content;
  height: max-content;
  background-color: white;
  display:inline-block;

  text-align: center;
  background-color: #f8f8f8;
  margin-top: 60px;
}

.bottomtext{
   margin-right: 50px;
   font-size: 1em;
   margin-bottom: 30px;
}
.bottomtext.right{
  margin-right: 0;
}
.emailtext{
  font-size: 0.8em;
  margin-right: 30px;

}
.bottomtext:hover{
  color: #f28d77;
}

.buttonpn{
  font-weight: bold;
  font-size: 20px;
  border-bottom: solid 1px #000000;
}

.buttonpn.previous{
  margin-right: 20px;
}

.buttonpn:hover{
 
  color: #f28d77;
  border-bottom: solid 2px #f28d77;
}

