* {/*상단공백제거(화면전체) */
	margin: 0 ;
	padding: 0;
}
input:focus{
  outline: none;
}
hr {
  background-color: #f2ad94;
  height: 2px;
  margin-top: 30px;
}
a{
	text-decoration:none;
  color: black;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 헤더 레이어 */
.headerl {
    /* margin-left: 256px; */
    width: 100%;
    
  
    /* border: solid 2px #f2d2b6; */
    border-top:solid 2px #c5c5c5;


  }
.headerl.top{
  height: 60px;
    border-bottom:solid 2px #c5c5c5;
}
   
  
/* 네비게이션 바 */
.Naviation {
  float: left;
}
.Naviation.left{
 height: 60px;
 width: 50%;
 background-color: #f8f8f8;
}
.Naviation.right{
  height: 60px;
  width: 50%;
  background-color: #f8f8f8;
  text-align: right;
}
/* 로고 */
.Logo {

    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: #0EC779;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    line-height: 2.7;
    margin-left:3%;
    margin-right: 4%;
  }
.Logo:hover{
  color:#28E094;
}
.neviusertext{
  margin-right: 15px;
  color: #000000;
  font-family: 'EliceDigitalBaeum_Regular';

}
.neviusertext.fake{
  color: #ffffff;

}

.Loginbutton{
    width: 80px;
    height:37.5px;
	font-size:18px;
	font-weight: bold;
  font-family: 'EliceDigitalBaeum_Regular';
	color:#000000;
  border-radius:1000px;
    border: solid 1px #ffffff;
    text-align: center;
    line-height: 3;
 
    margin-right: 20px;
 
  
}
.Loginbutton:hover{
  cursor: pointer;
	color:#0EC779;
  
}

   
  
/* 검색창 레이어 */
.searchl {
  width: 100%;
  height: max-content;
  background-color: white;
  object-fit: contain;
  text-align: center;
}
.searchsl{
  width:max-content;
  height: max-content;
  display:inline-block;

  text-align: center;
  margin-top: 10px;

  border-right: none;

}
/* 검색창 */
.search{
  border:none;
  width: 700px;
  height: 50px;
  font-family: 'EliceDigitalBaeum_Regular';
  margin: 3px 0px 15px 0px;
  background-color: #ffffff;
  border: solid 3px #0EC779 ;
  font-size:18px;
  font-weight: bold;
  padding-left: 20px;
}
/* 검색 버튼 */
.searchbutton{
  width: 80px;
  height: 40px;
  border:solid 2px #0EC779;
  font-family: 'EliceDigitalBaeum_Regular';
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.searchbutton:hover{
  background-color: #0EC779;
  color: #ffffff;
}




/* .searchbutton{
  background-image: 'public/image/sbutton.png';
  width: max-content;
  height: max-content;
  margin: 0px 0px 0px 0px;
  padding:50px 0 0 0;
	background:#ffffff;

  
} */




/* 메뉴레이어 */
.menul { 
    width: 100%;
    height: 62px;
    object-fit: contain;
    background-color:#f8f8f8;
    border-top: solid 2px #f2ad94 ;
    border-bottom: solid 2px #f2ad94 ;
    text-align: center;
  }
.menubuttonsl{
width: max-content;
height: 62px;
background-color:#f8f8f8;

display:inline-block;
}

/* 메뉴버튼 레이어 */
  button {
    margin:0;
    }
    .custom-btn {
      float: none;
      margin-right: 40px;
      border:0;
      outline: 0;
      width: 137px;
      height: 100%;
      color: #f2ad94;
      
      border-radius: 5px;
      font-family: 'Lato', sans-serif;
      font-size: 25px;
      background: transparent;
      cursor: pointer;
      position: relative;
      display: inline-block;
      text-align: center;
    }
    .btn-3 {
      background-color: #f8f8f8;
      width: 137px;
      height: 62px;
      line-height: 55px;
      padding: 0;
      border: none;
      
    }
    .btn-3.right {
      background-color: #f8f8f8;
      width: 137px;
      height: 62px;
      margin-right: 0;
      line-height: 55px;
      padding: 0;
      border: none;
      
    }
    .btn-3 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      
    }
    .btn-3:before,
    .btn-3:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background: #f2ad94;
      transition: all 0.8s ease;
      
    }
    .btn-3:before {
      height: 0%;
      width: 2%;
    }
    .btn-3:after {
      width: 0%;
      height: 2%;
    }
    .btn-3:hover{
      background: transparent;
      box-shadow: none;
      font-weight: bold;

     }
    .btn-3:hover:before {
      height: 100%;
    }
    .btn-3:hover:after {
      width: 100%;
    }
    .btn-3 span:hover{
       color: #fd7070;
    }
    .btn-3 span:before,
    .btn-3 span:after {
      position: absolute;
      content: "  ";
      left: 0;
      bottom: 0;
      background: #f2ad94;
      transition: all 0.8s ease;
  
    }
    .btn-3 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-3 span:after {
      width: 0%;
      height: 2px;
    }
    .btn-3 span:hover:before {
      height: 100%;
    }
    .btn-3 span:hover:after {
      width: 100%;
    }


.mainl{ /*메인프레임 레이어*/
  width: 100%;
  height: max-content;
  text-align: center;

}
/* 메인프레임 숫자출력 레이어 */
.mainl.figure{ 

  object-fit: contain;
  background-color: #ffffff;

  border-bottom:2px solid #c5c5c5 ;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f8f8f8;
}
.mainl.figure2{
  

    object-fit: contain;
    background-color: #ffffff;
    margin-top:20px;
  
  
  
}
.figuresmalll_secondline{
  width: 930px;
  height: 50px;
  background-color: white;
  display:inline-block;
  border:2px solid #c5c5c5;
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
  cursor: pointer;
  font-family: 'EliceDigitalBaeum_Regular';
  border-radius: 15px;
}
.figuresmalll_secondline.volinfotitle{
  color: #0EC779;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor:default;
  border:none;
  font-size: 1.7em;
}
.figuresmalll_secondline.volinfotitle.add{
  font-size: 1.2em;
}


.figuresmalll_firstline{
  width: 178.4px;
  height: 100px;
  font-family: 'EliceDigitalBaeum_Regular';
  font-weight: bold;
  background-color: white;
  display:inline-block;
  border:2px solid #c5c5c5;
  text-align: center;
  font-size: 1.5em;
  line-height: 4;
  cursor: pointer;
  border-radius: 15px;
}
.figuresmalll_firstline:hover{
  background-color: #0EC779;
  border:2px solid #c5c5c5;
  color: #ffffff;
}
.figuresmalll:hover{
  background-color: #f8f8f8;
}
.mainl.annmainl{/*메인프레임 공고레이어*/
  background-color: white;
  margin-top:20px;

}
.annsmalll{
  width: max-content;
  height: max-content;
  background-color: white;
  display:inline-block;
}
.mainl.basicl{/*모든 기본레이어*/

  background-color: #ffffff;
  text-align:center; 
  padding-top: 30px;
 
}
.infosmalll{
  width: 930px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  display:inline-block;
}



.annl { /* 공고 출력 테이블 레이어 */
  
  width: 435px;
  height: 350px;
  object-fit: contain;
  background-color: #ffffff;
  border:2px solid #c5c5c5;
  float: left;  
  border-radius:30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-top: 20px;
}
.annl.left {
  margin-right:56px;
}

.annl.box{
  height: 250px;
  background-color: rgb(255, 255, 255);
  text-align: right;
}

.annl.box.left{
  margin-right:56px;
  background-color: rgb(255, 255, 255);
}
.annl.box:hover{
  background-color: #f8f8f8;
}

.annltext{
  font-size: 25px;
  font-family: 'EliceDigitalBaeum_Regular';
  margin-right: 30px;
}

.annltextbutton{
 padding: 10px 60px 10px 60px;
 background-color: #ffffff;
 border:2px solid #0EC779;
 border-radius:15px;
 font-family: 'EliceDigitalBaeum_Regular';
 font-weight: bold;
 margin-right: 30px;
 /* margin-left: 280px; */
}

.annltextbutton:hover{
  color: #ffffff;
  background-color: #0EC779;
 
}

.annltext.class{
  font-size: 20px;
}
.annlbar {
  width: 435px;
  height:55px;
  object-fit: contain;
  background-color: #ffffff;
  border-left:2px solid #f2ad94;
  border-right:2px solid #f2ad94;
  border-top: 2px solid#f2ad94;
  float: left;
  cursor: pointer;

  
  
}

.annlbar.left {
  margin-right:56px;
}

.ann_plusbtn{  /*공고출력창 더보기 버튼*/
  line-height: 2.5;
  width: 50px;
  height: 30px;
  background-color: #f2d2b6;
  float:right;
  border-radius:100px;
  margin-top: 15px;
  margin-right: 2px;
  font-size: 12px;  
  text-align: center;
  /* line-height: 2.5; */
  border:0;
  outline: 0;
  cursor: pointer;
  border: solid 1px #ffffff;

}
.ann_plusbtn:hover{
	background:#f28d77;
  transition: all 1.0s ease;
  font-weight: bold;
}

.ann_title {/*공고출력창 제목*/
  width: 80px;
  height: 60px;
  font-family:Georgia;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
  line-height: 3;



}

/* 메인 공고출력 테이블 디자인 */
.mlist-table {
	margin-top: 5px;
}
.mlist-table thead th{

	border-bottom:2px solid #f2ad94;
	font-weight: bold;
	font-size: 17px;

}

.mlist-table tbody td{

	text-align:center;
	padding:10px 0;

	border-bottom:2px solid #f2ad94; height:20px;

	font-size: 14px ;
 
}

.maintablefont{
  font-size: 1.1em;
  font-weight: bold;
}

.vollist-table {
	margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'EliceDigitalBaeum_Regular';

}
.vollist-table thead th{
  border-top:2px solid #0EC779;
	border-bottom:2px solid #0EC779;
	font-weight: bold;
	font-size: 17px;

}

.vollist-table tbody td{

	text-align:center;
	padding:10px 0;

	border-bottom:2px solid #c5c5c5; height:20px;

	font-size: 14px ;
 
}



/*공고출력 테이블 디자인*/

.list-table {
	margin-top: 50px;
  font-family: 'EliceDigitalBaeum_Regular';
}
.list-table thead th{
	height:40px;
  
	border-top:3px solid #0EC779;
	border-bottom:3px solid #0EC779;
	font-weight: bold;
	font-size: 17px;

}
.list-table tbody td{
	text-align:center;
	padding:10px 0;

	border-bottom:1px solid #c5c5c5; height:20px;
	font-size: 14px ;
 
}
.list-table tbody tr{
  cursor: pointer;
}

.list-table tbody tr:hover{
background-color:#b2f5bb;

}
.mainsignuptext{
  height: max-content;
  width: max-content;
  font-size: 20px;
  text-align: left;
}


/* 텍스트 출력창(내용) */
.teaminfotextboxl{
  width: 930px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: solid 2px #c5c5c5;
  border-radius: 15px;
  margin-top: 20px;
  font-family: 'EliceDigitalBaeum_Regular';
}

.teaminfotextbox{
  width: max-content;
  height: max-content;
  text-align:left;
  font-size: 24px ;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  display: inline-block;
  white-space: pre-wrap;
  width: 580px;
  font-family: 'EliceDigitalBaeum_Regular';
  border-bottom:solid 2px #c5c5c5;
  border-top:solid 2px #c5c5c5;

}
.teaminfotextboxl.map{
  width: 500px;
  height: 400px;

  border-radius: 15px;
  display: inline-block;
 
  margin-top: 0px;
  margin-bottom: 20px;
}
.teaminfotextboxl.map:hover{
  border: solid 2px #0EC779;
  
}
.mapdot{
  width:150px;
  text-align:center;
  padding:6px 0;
  color: #0EC779;
  font-weight: bold;
  font-size: 17px ;
}

/* 
기본제목디자인 */

.titletext{
  width: 100%;
  font-family: 'EliceDigitalBaeum_Regular';
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  

}
.stitletext{
  font-family: 'EliceDigitalBaeum_Regular';
  font-size: 20px;
}
.stitletext.kakao{
  font-weight: bold;
  color: black;
  background-color:#28E094;
  border: solid 1px black;
}

.create_team_textbox{
  font-family: 'EliceDigitalBaeum_Regular';
  width:500px;
  height: 50px;
  font-size: 20px;
  margin-top: 5px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #c5c5c5;
  padding-left: 5px;
  margin-bottom: 40px;
}
.create_team_textbox.countm{
  width:80px;
  text-align: center;
  padding-left: 12px;
}
.create_team_textbox:focus{
  border: solid 2px #0EC779;
}
.create_team_textbox.addressbox{
  width:400px;
}
.create_team_textarea{
  font-family: 'EliceDigitalBaeum_Regular';
  width:500px;
  height: 100px;
  font-size: 20px;
  margin-top: 15px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #c5c5c5;
  padding-left: 5px;

}
.create_team_textarea.modify{
  height: 500px;
}
.create_team_textarea:focus{
  border: solid 2px #0EC779;
  height: 500px;
}
.create_team_radiobox{
  width:505px;
  height: 55px;

  display:inline-block;
  margin-top: 5px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #c5c5c5;
  margin-bottom: 40px;
  line-height: 4;
  font-family: 'EliceDigitalBaeum_Regular';
}
.create_team_radiobox.addressbox{
  height: max-content;
}
.create_team_checkbox{
  width: 15px;
  height: 15px;
 
}

.create_team_radio{

  width:20px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
  

}
.create_team_radio.right{
  margin-left: 30px;
}


.create_team_infotext{
  font-family: 'EliceDigitalBaeum_Regular';
}
.create_team_button{
  width:100px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border:solid 2px #0EC779;
  font-size: 18px;
  font-family: 'EliceDigitalBaeum_Regular';
  font-weight: bold;
  cursor: pointer;
}
.create_team_button:hover{
  color: #ffffff;
  background-color: #0EC779;


}
.create_team_select{
  width:510px;
  height: 58px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
  border-radius:4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #c5c5c5;
  font-family: 'EliceDigitalBaeum_Regular';
}
.create_team_select:focus{
  border: solid 2px #0EC779;
}
/* 사이트 하단 화면  */
.bottoml{
  height: 150px;
  width: 100%;
  object-fit: contain;
  background-color: #f8f8f8;
  margin-top:20px;
  text-align: center;
  border-top: solid 2px #c5c5c5;
}

.bottomsmalll{
  width: max-content;
  height: max-content;
  background-color: white;
  display:inline-block;

  text-align: center;
  background-color: #f8f8f8;
  margin-top: 60px;
}

.bottomtext{
   margin-right: 50px;
   font-size: 1em;
   margin-bottom: 30px;
   font-family: 'EliceDigitalBaeum_Regular';
}
.bottomtext.right{
  margin-right: 0;
}
.emailtext{
  font-size: 0.8em;
  margin-right: 30px;
    font-family: 'EliceDigitalBaeum_Regular';
  
}
.bottomtext:hover{
  color: #0EC779;
}

.buttonpn{
  font-weight: bold;
  font-family: 'EliceDigitalBaeum_Regular';
  font-size: 20px;
  border: solid 1px #0EC779;
  padding: 1px;
  border-radius: 5px;
}

.buttonpn.previous{
  margin-right: 20px;
}

.buttonpn:hover{
 
  color: #ffffff;
  background-color: #0EC779;
}

.topmenubuttons{
  width: 80px;
  height:37.5px;
font-size:19px;
font-weight: bold;
color:#3a3939;
  text-align: center;
  line-height: 0.5;
  margin-right: 20px;
  font-family: 'EliceDigitalBaeum_Regular';
 
}

.topmenubuttons:hover{
  color: #0EC779;
}

